[Unit]
Description=Bluetooth Personal Area Network
After=bluetooth.service systemd-networkd.service
Requires=systemd-networkd.service
PartOf=bluetooth.service

[Service]
Type=notify
ExecStart=/home/pi/internet-of-thingies/Setup/BluetoothBridge/bt-pan --debug --systemd server br0

[Install]
WantedBy=bluetooth.target
