[Unit]
Description=Bluetooth Personal Area Network

[Service]
Type=notify
ExecStart=/home/pi/internet-of-thingies/Setup/BluetoothBridge/bt-pan --debug --systemd client %I --wait
